<h3>About</h3>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde modi voluptatibus commodi libero excepturi, nisi ab
  sapiente blanditiis! Nobis, aliquid dignissimos earum consequatur harum assumenda est veniam laborum repudiandae
  doloribus.</p>

  <div *ngFor="let post of posts">
    <h3>{{post.title}}</h3>
    <p>{{post.body}}</p>
  </div>